body {
    background: rgb(48, 46, 46);
    color: rgb(241, 231, 231);
}

.container {
    margin: 10px 10px;
}

.navbar {
    background: linear-gradient(to left, rgba(255, 231, 16, 0.932) 10%, rgb(59, 56, 56) 90%);
}

.navbar-nav {
    font-size: larger;
}

.navbar-brand img {
    width: 50px;
    height: 10;
    border-radius: 50%;
}

.navbar ul a:hover {
    background-color: rgba(255, 231, 16, 0.527);
    border-radius: 20px;
    color: black;
}



h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hr {
    background: linear-gradient(to left, rgb(59, 56, 56), rgba(255, 231, 16, 0.377), rgb(59, 56, 56));
    width: 50%;
    height: 5px;
    margin: auto;
    border-radius: 20%;
}

p {
    text-align: center;
}

.carousel-slide {
    background-attachment: fixed;
}


.nav-tabs {
    background: linear-gradient(to left, rgba(255, 231, 16, 0.932) 10%, rgb(59, 56, 56) 90%);
    margin: 10px 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    text-align: center;
}


.nav-tabs .nav-link {
    color: white;
    size: 50px;
    font-weight: 700;
}

.tab-content img {
    border: 1px solid black;
    margin: 10px 10px;
}

@media (max-width : 768px) {
    .nav-tabs {
        background-size: cover;
        margin: 5px 0px;
    }

    .aboutimg {
        width: 70%;
        display: block;
        margin: auto auto;
    }

    #map{
        width: 80%;
        display: block;
        margin: auto auto;
    }
}

@media (min-width: 576px) {


    .aboutimg {
        width: 70%;
        display: block;
        margin: auto auto;
    }

    #map{
        width: 80%;
        display: block;
        margin: auto auto;
    }
}

@media (min-width: 1200px){
.aboutimg {
    width: 400px;
    margin-left: 30px;
    border-radius: 50%;
}
}

#footer1 {
    background: linear-gradient(rgba(41, 41, 38, 0.932), rgb(59, 56, 56), rgba(255, 231, 16, 0.527));
    width: 1320px;
    height: 5px;
    border-radius: 20%;
    margin: 20px 0px;
}
